/* HEADER */

header {
	
	background: #202020;
	padding: 0 20px;
	line-height: 0;
  
  
  img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
  }

}

h1 {
	color: #D9C0A3;
	font-weight: bold;
}

h2 {
	color: #463C5F;
	font-style: italic;
}

h3 {
	color: #D9C0A3;
	font-style: normal;
}



/* Secciones */


section {
	article {
	padding: 50px 30px 20px 60px;  /* centra el contenido */
	margin-left: 40px;
	background-color: #7C0706
	}
}

/* FOOTER */

.footer {
	display:inherit;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(20, 20, 20);
	color: white;
	text-align: right;
	align-content:space-around;
	overflow:unset;

	img {
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 5px;
		width: 130px;
	  }
	
  }

/* Overlay /Texto en Imágenes */

  .container {
	position: relative;
	width: 50%;
	max-width: 300px;
	box-sizing: content-box;
	&:hover {
		.overlay {
			opacity: 1;
		}
	}
}
.image {
	display: block;
	width: 100%;
	height: auto;
}
.overlay {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 88%;
	transition: .5s ease;
	opacity: 0;
	color: white;
	font-size: 10px * 2;
	padding : 10px * 2;
	text-align: center;
}

/* CARROUSEL */

@keyframes display {
	0% {
		transform: translateX(200px);
		opacity: 0;
	}
	10% {
		transform: translateX(0);
		opacity: 1;
	}
	20% {
		transform: translateX(0);
		opacity: 1;
	}
	30% {
		transform: translateX(-200px);
		opacity: 0;
	}
	100% {
		transform: translateX(-200px);
		opacity: 0;
	}

}


.pic-ctn {
	width: 300px;
	height: 400px;
	position: absolute;
	position: relative;
	width: 100vw;
	height: 300px;
	margin-top: 15vh;
	img {
		position: absolute;
		top: 0;
		left: calc(50% - 200px);
		opacity: 0;
		animation: display 10s infinite;
	}
}

img {
	&:nth-child(2) {
		animation-delay: 2s;
	}
	&:nth-child(3) {
		animation-delay: 4s;
	}
	&:nth-child(4) {
		animation-delay: 6s;
	}
	&:nth-child(5) {
		animation-delay: 8s;
	}
}


/*GRID¨*/
.grid {

    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 300px 300px 300px;

}



.grid-item {
    background-color: lightgrey ;
    border: 1px solid lightskyblue;
    padding: 1px;
    font-size: 1em;
    align-content: flex-start;
	align-items: flex-start;
}

.grid > article {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  }
  .grid > article img {
	max-width: 100%;
	align-content: flex-start;
	align-items: flex-start;
  }
  .text {
	padding: 0 100px 400px;
  }
  .text > button {
	background: gray;
	border: 0;
	color: white;
	padding: 10px;
	width: 100%;
	align-content: space-around;
	}
  .grid > article:nth-child(1) {
	grid-row: span 2;
  }


/*RESPONSIVE*/
/*VISIÓN NOCTURNA*/

@media screen and (min-width: 450px) and (max-width: 720px) {
	body {
		background-color: rgb(8, 8, 8);
		font-style: normal#e0dede;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color: rgb(255, 255, 255);
		font-size: 15px;
	}
	.cards {
		width: 1px;
		height: 1px;
		display: flex;
		flex-wrap: nowrap;
		align-items: baseline;
		max-height: 1px;
		align-content: center;
		transform: matrix(1.0, 4.0);
		transform: scale(1, 0.5);
		columns: unset;
		img {
			margin: 0px;
			border: 1px solid rgb(228, 223, 223);
			box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
			max-width: 2px;
		}
	}
	.logos {
		display: flexbox;
		flex-wrap: nowrap;
		align-items: center;
		flex-direction: column;
		box-sizing: inherit;
		max-height: 300px;
		align-content: center;
		margin: 10px;
		img {
			margin: 2px;
			border: 1px solid #000;
			box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
			max-width: 23vw;
			place-content: initial;
		}
	}
	.grid {
		display: grid;
		grid-template-columns: 200px 200px;
		grid-template-rows: 300px 300px;
	}
}

/*VISIÓN DIURNA*/
@media screen and (min-width: 1024px) {
	body {
		background-color: #f7f7f7;
		font-style: normal rgb(8, 8, 8);
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color: #000;
	}
	.cards {
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		flex-direction: row (4);
		max-height: 100px;
		img {
			margin: 10px;
			border: 2px solid #000;
			box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
			max-width: 23vw;
		}
	}
	.logos {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-center;
		flex-direction: row;
		max-height: 400px;
		align-content: space-around;
		img {
			margin: 2px;
			border: 1px solid #000;
			box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
			max-width: 23vw;
			place-content: center;
		}
	}
}
